extends layout
block content
  #banner.page-header
    br
    .row
        .col-md-6.col-sm-12
            h1= title
    .row
        .col-sm-12
            h3= head
            p This is MyFridge. You can check the above links to view or add.
            img.img-responsive.img-rounded(src='../images/myfridge.jpg' width='300')